<div class="container mt-4">
    <form action="/pic/profile" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="text-light">Upload prifile Picture</label>
            <input type="file" class="form-control" name="userdp">
        </div>
        <button type="submit" class="btn btn-primary text-center">Upload Image</button>
    </form>

</div>