{{!-- <div class="alert alert-danger">Please login</div> --}}
<div class="container-fluid bg-dark"><h3 class="page-header text-center">Welcome <span class="text-primary"> {{user.firstname}} {{user.lastname}} </span> </h3></div>
<div class="caption center-block text-center jumbotron bgimage">
    <h3>Welcome to Yela Modern Curriculum Academy</h3>
    <p style="color:aliceblue">E-Learning portal</p>
    <p class="btn btn-outline-light"><a href="/courses/listree">Goto Videos</a></p>
</div>
<div class=" mt-n4">
    <button class="tablink" onclick="openTab('About', this, 'gray')" id="defaultOpen">About</button>
    <button class="tablink" onclick="openTab('Admission', this, 'gray')">Admission</button>
    <button class="tablink" onclick="openTab('Academics', this, 'gray')">Academics</button>
    <button class="tablink" onclick="openTab('Athletics', this, 'gray')">Athletics</button>
</div>
    <!-- About Section -->
    <div id="About" class="tabcontent">
        <!-- <div id="About"> -->
        <div class=" my-3">
            <!-- <h3 class="text-center">About</h3> -->
            <div class="row bg-dark ">

                <div class="col-md-4 bg-dark text-light m-2 ">
                    <h5 class="">Our Teachers</h5>
                    <p>Our are Teachers highly qualified and experienced to inculcate and impart
                     your children with the right knowledge and principle for academic excellence.
                    </p>
                    <p class="">Our mission statement is to deliver world- class education to children 
                        We inculcate high moral and ethical values in our students as we prepare them for a life 
                        of service and fulfillment while 
                          operating on sound commercial principles..</p>
                </div>
                <div class="col-md bg-dark text-light m-1  ">
                    <h5 class="text-center">YELA MODERN CURRICULUM ACADEMY</h5>
                    <p class="">This school is in response to the high demand for a school that upholds virtues 
                        and creates an avenue where teachers can collaborate with parents in their most important 
                        role of educating their children. It is a school founded on the inspirations and teachings
                         of the proprietor (Founder of YELA) who believed that parents are the primary educators
                          of their children. He also believed that teachers were to work with parents in every phase 
                          of their education, giving due consideration to the differences in gender while not 
                          forgetting the proper ends Divine Providence assigns to each child in the family and society.

In YELA MODERN CURRICULUM ACADEMY, we open opportunities for our students to cultivate an optimistic approach in creating and 
fostering relationships in a humane society where each person is loved for who she is. 
Our students have a 
deep understanding of their dignity as future leaders and their roles in the society

The Yela Modern Curriculum Academy is open to pupils and students of all cultural, religious and ethnic backgrounds. 
Our educational model is based on our mission statement: Partnership with parents to give an all-round education to each child based on the dignity of the human person, integrity, leadership qualities and academic excellence.

Our mission is achieved through a strong collaboration between parents and our highly motivated members of staff.

Our students are helped to achieve excellent academic performance, good character and strong moral principles through a methodology based on instilling virtues and values from a very early age. The tutorial system is the core channel through which we harmonise the education given at home and at school.
</p>
<p>
At Yela Modern Curriculum Academ we believe that education is not just about learning subjects but also about learning the value of being a good person. We build characters, form and develop the total person. 
Thus our curriculum is geared towards developing the intellectual, physiological, psychological, ethical, social and spiritual dimensions of the learners. 
Our students have learnt to take responsibility for their learning. Each child is empowered to achieve the best in whatever task she engages in. Our driving force is a desire to achieve a Christian identity for the school.

At the end of six years of primary and six years of secondary school, our students turn out to be balanced, refined, tenacious and mature individuals who are committed to contributing a desirable transformation in every dimension of the human society.

Welcome, once again to our site as we hope you will join us in this most important journey of educating the leaders of tomorrow.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Admission section -->
<div id="Admission" class="tabcontent">

    <h3 class="text-center">Admission! Admission!! Admission!!!</h3>
    <div class="row justify-content-center">
        <div class=" my-5  adcolo">
            <p class="text-dark text-center weoffer p-2">We offer Admission to the various classes below</p>
            <ul>
                <li class="text-dark text-center">Primary 1 - 6</li>
                <li class="text-dark text-center">Jss 1 - 3</li>
                <li class="text-dark text-center">SSS 1 - 3</li>
            </ul>
        </div>
    </div>
</div>
<!-- Academics section -->
<div id="Academics" class="tabcontent">
    <!-- <div id="Academics"> -->
    <h3 class="text-center">Academics</h3>
    <div class="container-fluid colo">
        <div class="row ">
            <p class="text-center text-light">Our academic activities cuts across all levels of educations of pupils and students
                from Pre-nursery to secondary with quality content in differents subjects such as Mathemathematics, English_language,
                Chemistry, Civic Education, Biology, Physics, Marketing, etc and facilities such as fully equiped library, laboratories and modern standard class rooms to ensure that your child's academic success!
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 ">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img src="/images/2.jpg" class="h-75">
                    <div class="card-body bg-ligt">
                        <h5>Our Laboratory</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img src="/images/1.jpg" class="h-75">
                    <div class="card-body bg-light">
                        <h5>Our Library</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img style="height:335px" src="/images/glalary13.jpg" >
                    <div class="card-body bg-light">
                        <h5>Our Classes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="Athletics" class="tabcontent">
    <h2 class="text-center">Athletics</h2>
    <div class="row ">
            
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 ">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img src="/images/football.jpg" style="height:335px">
                    <div class="card-body bg-light">
                        <h5>Football</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img src="/images/basketball.jpg" style="height:335px">
                    <div class="card-body bg-light">
                        <h5>Basketball</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <div class=" card text-center mb-3 shadow-sm ">
                    <img style="height:335px" src="/images/sprinting.jpg">
                    <div class="card-body bg-light">
                        <h5>Sprinting</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End of tab Menu -->

<!-- Testimonials -->
<div id="testimonials">
    <h3 class="text-center">Testimonials</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 ">
            <div class="card text-center p-2">
                <img style="height:335px" src="/images/st4.jpg" class=" card-img-top ">
                <div class="card-body bg-light">
                    <h5>Ebieri</h5>
                    <p class="card-text"> My name is Preye, Yela Modern Curriculum Academy,
                        a place for academic excellence 
                         </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card text-center p-2 ">
                <img style="height:335px" src="/images/st2.jpg" class=" card-img-top ">
                <div class="card-body bg-light">
                    <h5>Tari</h5>
                    <p class="card-text"> My name is Tari, Yela Modern Curriculum Academy  </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card text-center p-2" >
                <img style="height:335px" src="/images/st3.jpg" class="card-img-top ">
                <div class="card-body bg-light">
                    <h5>Students</h5>
                    <p class="card-text">  Yela Modern Curriculum Academy, the best place to learn </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // to enable the first tab to load automatically
    document.getElementById("defaultOpen").click();
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>
    window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js"><\/script>')
</script>
<script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous"></script>
<script src="/javascripts/misc.js"></script>

</div>
</div>
</div>