
<div class="login-body container-fluid justify-content-center">

  <div class="login-container">
    <h3 class="text-head">LOGIN HERE</h3>

    <form class="form-content" method="post" action="/users/login">

      <div class="col">
        <label class="text1">Username</label>
        <input class="form-input" type="text" name="username">
        </div>
      <div class="col">
        <label class="text1">Password</label>
        <input class="form-input" type="password" name="password">
      </div>
      <input class="btn-submit" type="submit" value="Login">

    </form>


  </div>
</div>






