<!-- Default form register -->

<div class="studentbody ">
<div class="col-md-4  justify-content-center mt-5 fbody">
<form method="POST" action="/users/students" class="text-center border border-light mt-4 ">
<div class="mb-4   ">
    <h3 class=" text head text-center">REGISTER STUDENT</h3>
</div>
    <div class="form-row mb-4 ml-2 mr-2">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" name="surname" class="form-control" placeholder="Surname">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" name="othername" class="form-control" placeholder="Othername">
        </div>
    </div>
     <div class="form-group ml-2 mr-2">
    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" name="email" class="form-control mb-4" placeholder="Parents/Guardian E-mail">

    <!-- Password -->
    <input type="text" id="defaultRegisterFormPassword" name="phone" class="form-control mb-4" placeholder="Phone Number" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" name="class" class="form-control mb-4" placeholder="Class" aria-describedby="defaultRegisterFormPhoneHelpBlock">

     <input type="text" id="defaultRegisterFormPassword" name="state" class="form-control mb-4" placeholder="State" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" name="lga" class="form-control mb-4" placeholder="LGA" aria-describedby="defaultRegisterFormPhoneHelpBlock">
     <input type="text" id="defaultRegisterFormPassword" name="address" class="form-control mb-4" placeholder="Address" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    


   
   
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

   

    <hr>
 </div>
</form>
<!-- Default form register -->
</div>


</div>