
<div class="container-fluid d-flex mt-5 justify-content-center align-items-center" style="background:#00a2e8;"> 
<div  class="col-md-4 bg-light mt-5 mb-5">
{{#if user}}
        {{!-- <div class="alert alert-danger">Username has taken already try new</div>  --}}
{{/if}}
{{#if mail}}
        <div class="alert alert-danger">Email has taken already try new</div> 
{{/if}} 
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<!-- Default form register -->
<form class="text-center border border-light  text-light" method="post" action="/users/register">

    <h2 class="page-header text-center mt-4">Register</h2>

    <div class="form-row mb-4 ml-3 mr-3">
        <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" name="firstname">
        </div>
        <div class="col ">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" name="lastname">
        </div>
    </div>
    <div class="form-group ml-3 mr-3">
    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4 " placeholder="Username" name="username"> 
    

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4 " placeholder="E-mail" name="email">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control " placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock"  name="password">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <input type="password" id="defaultRegisterFormPassword" class="form-control " placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock"  name="password2">
    

    
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

    </form> 


    {{!-- <!-- Card -->
<div class="card">

    <!-- Card body -->
    <div class="card-body">

        <!-- Material form register -->
        <form>
            <p class="h4 text-center py-4">Sign up</p>

            <!-- Material input text -->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="materialFormCardNameEx" class="form-control">
                <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="materialFormCardEmailEx" class="form-control">
                <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                <input type="email" id="materialFormCardConfirmEx" class="form-control">
                <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="materialFormCardPasswordEx" class="form-control">
                <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
            </div>

            <div class="text-center py-4 mt-3">
                <button class="btn btn-cyan" type="submit">Register</button>
            </div>
        </form>
        <!-- Material form register -->

    </div>
    <!-- Card body -->

</div>
<!-- Card --> --}}

</div>
</div>

   



</div>
</div>

